<nav class="navbar navbar-inverse navbar-static-top">
 	<div class="container clearfix">
 	<img class="logo" src="<%= image_url "monkodevlogo.png" %>">
 	<img class="logoblog" src="<%= image_url "logosuperblog.png" %>">
    	<ul class="nav navbar-nav navbar-right">
    		<li><a href="#">Ingresar</a></li>
    		<li><a href="#">Registrarse</a></li>    		
    	</ul>
  </div>
</nav>
<div class="container">
	<% @post.each do |p| %>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="estiloindex">
			  <h3><%= p.titulo %> </h3>
			  <h4><small>Subtext for header</small></h4>
			  <p><%= p.texto %></p>
			 </div>
			 		
		</div>
	</div>
	<% end %>

</div>

